* {
   margin:0;
   padding:0;
}

body {
box-sizing: border-box;
background-color: #463831e8/*#ffe4c4*/;
}
/*
.content_certificate {
display: flex;
flex-direction: column;  
height: 413px;
margin-top: 50px;
}

/* Блок картинки *
.rotateBlock {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
}
/* Изображение *
.changeImg {
position: relative;
perspective: 1000px;
width: 400px;
height: 300px;
border: 5px double #6000c17a;
margin-top: 38px;
margin-bottom: 94px; /* Рамка *
background-color: #deb887;
box-shadow: 0px 0px 2px 10px #e97575f2;
}
.changeImg:hover .frontSideImg {
  transform: rotateY(180deg);
}
.changeImg:hover .backSideImg {
  transform: rotateY(360deg);
}
/* Стороны изображения *
.frontSideImg, .backSideImg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backSideImgface-visibility: hidden;
 }
.frontSideImg img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.backSideImg img {
  max-width: 100%;
  min-width: 100%;
  height: 300px/*auto*;
  transform: scaleX(-1);/* Отражаем изображение по горизонтали *
}
.backSideImg {
  transform: rotateY(180deg);
}
*/

.image-parlax {
  position: absolute;
  width: 63%; /* Ширина изображения */
  top: 62px;
  left: 232px;
  border: 20px double #639;
  background-color: #ffffff9e;
  box-shadow: 0px 0px 0px 35px #ffffff;
  cursor: pointer;
}
.image-container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
    perspective: 1000px;
}
.front-side, .back-side{
  background-size: cover;
  background-position: center;
  min-height: 599px; /* Высота изображения */
  height: auto;
  order: 1px solid #00dcff;
  order-radius: 50%; /* Скругление углов */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.back-side{
  background: #343434;
  background: -webkit-linear-gradient(45deg,  #343434 0%,#000000 100%);
  background: -o-linear-gradient(45deg,  #343434 0%,#000000 100%);
  background: linear-gradient(45deg,  #343434 0%,#000000 100%);
}
.front-side:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #0000001c;/* затемнение лицевой фотки */
  -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  order-radius: 50%; /* Скругление углов */
}
.image-container:hover .front-side,
.image-container:hover .back-side{
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.back-side{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  filter: brightness(0.9);
}
.inner{
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
            box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
            perspective: inherit;
  z-index: 2;
}
.image-container .back-side{
  -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.image-container .front-side{
  -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.image-container:hover .back-side{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.image-container:hover .front-side{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.front-side .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.front-side .inner p:after{
  content: '';
  width: 4rem;
  height: 1px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.front-side .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}


@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
.image-parlax { width: 76%; left: 104px; }
.front-side, .back-side { min-height:584px; }
}

@media screen and (max-width: 800px) {
.image-parlax {width: 87%; top: 298px; left: 29px; box-shadow: 2px 3px 8px 3px #000000;}
.front-side, .back-side { min-height: 496px; }  
}

@media screen and (max-width: 768px) {
.image-parlax {width: 87%; top: 118px; left: 29px; box-shadow: 2px 3px 8px 3px #000000;}
.front-side, .back-side { min-height: 496px; }
}

@media screen and (max-width: 425px) {
.image-parlax { width: 86%;top: 256px; left: 8px; box-shadow: 2px 3px 6px 0px #1a1515;}
.front-side, .back-side { min-height: 244px; }
}

@media screen and (max-width: 375px) {
.image-parlax { width: 86%; top: 249px; left: 5px; box-shadow: 2px 3px 10px 1px #1a1515;}
.front-side, .back-side { min-height: 234px; }
}